*csv
*txt
*bit
*doc
*docx
*xclbin
*zip
*bit
*so
sw/xilinx*
sw/*.wdb
sw/*.wcfg
sw/*.protoints
*.json
sw/*.log
sw/*.jou
sw/*.str
sw/*.hdf
sw/*.xsa
sw/*.xpfm
sw/*.json
linking/*.csv
linking/*.log
linking/*.jou
linking/*.str
linking/*.bin
linking/*.hdf
linking/*.xsa
linking/*.xpfm
linking/*.json
aie/*.csv
aie/*.log
aie/*.jou
aie/*.str
aie/temp
fpga/*.csv
fpga/*.log
fpga/*.jou
fpga/*.str
fpga/*.log
fpga/full_test_[0-9]*
